# Port
SERVER_PORT=

#Default Page Size
DEFAULT_PAGE_SIZE=

# Image Path
DEFAULT_IMAGE_PATH=

# SMTP Credentials
SMTP_USERNAME=
SMTP_PASSWORD=

# JWT
JWT_SECRET_KEY=
JWT_EXPIRATION_TIME=

# Proof Of Admin
ADMIN_LOGIN_CODE=

# Mongodb Database Connections
MONGODB_ATLAS_CONNECTION=

# Client Side URL
DEPLOY_CLIENT_URL=

# Cloudinary Config
CLOUDINARY_FOLDER_NAME=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET_KEY=